.App {
  text-align: left;
  width: 50%;
}

.my-section {
  flex-direction: column;
}

.my-list {
  border: 1px solid rgba(0,0,0,.38);
  border-radius: 4px;
}

.list-heading {
  font-weight: 600;
  font-size: 24px;
}

.mdc-top-app-bar {
  background-color: #fff;
  color: #4e4e4e;

  top: 0px;
  border-bottom: 1px solid rgba(0,0,0,.38);
}

.mdc-top-app-bar__row {
  height: 160px;
}

.w-100 {
  width: 100%;
}

.p-h-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.p-v-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.p-t-15 {
  padding-top: 15px;
}

.p-b-15 {
  padding-bottom: 15px;
}

.m-t-160 {
  margin-top: 160px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .App {
    text-align: center;
    width: 100%;
  }

  .mdc-top-app-bar__row {
    height: 160px;
  }
}
